/* Load font files */

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.ttf');
}

/* Reset Default Css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*set boder-box model to all elements*/ 
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

.topbar{
    height:12px;
    background: #000000;
}

.topnav{
    background-color: #ffffff;
    /* opacity: 0.05; */
    height:76px;
    /* border: #000000 2px solid; */
    padding: 22px 21px 21.7px 17px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.topnav img.navtoggle
{
    height:18px;
    width:25px;
}
.topnav img.magnifier
{
    height:20px;
    width:20px;
}

.topbanner
{
   height: 389px;
   background: url("images/mobile/mobile-screw.png") no-repeat center right;
   background-size: cover;
   padding: 90px 20px 29px 20px;
}
.topbanner .bannerwrapper
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.topbanner h1
{
    font-family: Poppins-ExtraLight;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 800;
    height: 80px;
}
.topbanner p
{
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 100;
    height:47px;
    margin-top: 13px;
}
.topbanner .hexagons
{
    margin-top:20px;
    height:47.68px;
}
.topbanner .dotsgroup
{
    display:flex;
    justify-content: space-between;
    width:48px;
    height:10px;
    margin: 52.3px auto 0;
}
.topbanner .dot
{
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    height:10px;
    width:10px;
    box-shadow: 0 10px 20px 0 
}
.topbanner .dot.red
{
    background-color: #F7444F;
}
