/* Load font files */

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.ttf');
}

/* Reset Default Css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*set boder-box model to all elements*/ 

html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

/* Global Style */

.dotsgroup
{
    display:flex;
    justify-content: space-between;
    width:48px;
    height:10px;
    margin: 52.3px auto 0;
}
.dot
{
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    height:10px;
    width:10px;
    box-shadow: 0 10px 20px 0  rgba(0,0,0,0.10);
}
.wrapper
{
    max-width:400px;
    margin:auto;
    padding: 0 20px;
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
}
.readmore-box
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 144px;
    margin: 20px auto 0;
   
}
span.text
{
    font-family: PoppinRegular;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    font-weight: 400;
}
.red-nav-ball{
    background-color: #F7444F ;
    border-radius: 50%;
    display: inline-block;
    height:40px;
    width:40px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.30);
}
.white-arrow
{
   height: 10px;
   width: 10px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(45deg);
    z-index: 100;

}

.section-title{
    font-family: PoppinExtraLight;
    position: relative;
    font-size: 30px;
    color: #4B4B4B;
    letter-spacing: 0;
    text-align: center;
    line-height: 60px;
    font-weight: 400;
}
.section-title::after
{
    content: '';
    display: block;
    /* position: absolute; */
    margin:0 auto;
    bottom: 0;
    width: 121px;
    /* left: 25%; */
    border-top: 1px solid #F7444F;
}

/* Input Fields Style */
input[type=text]
{
    border: 1px solid #FFFFFF;
    width:334px;
    height:47px;
    background-color: #00783E;
    margin-top:31px;
    padding-left:16px;
}
input[type=text]::placeholder
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    margin-left:16px;
}

/* black top bar */
/* ///////////////////////////////// */
.topbar{
    height:12px;
    background: #000000;
}

/* Top Navigation Bar */
input#navToggle {
    display: none;
  }
.topnav{
    background-color: #ffffff;
    /* opacity: 0.05; */
    height:76px;
    /* border: #000000 2px solid; */
    padding: 22px 21px 21.7px 17px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.topnav img.navtoggle
{
    height:18px;
    width:25px;
}
.topnav img.magnifier
{
    height:20px;
    width:20px;
}


#navToggle:checked ~ nav {
    left: 0;
  }
  
  nav {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -110%;
    width: 283px;
    height: 832px;
    transition: 0.22s ease-in-out;
    background-color: #FFFFFF;
    padding-left:19px;
    padding-right:25px;
    padding-bottom:25.7px;
    box-shadow: 2px 0 10px 0 rgba(0,0,0,0.50);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* nav::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: #13b1e7;
    background-size: cover;
  } */
  
  nav ul {
      list-style-type: none;
  }
  nav ul .greenbar{
      height: 15px;
      width: 283px;
      background: #00783E;
      margin-left: -19px;
}
  nav ul li{
    list-style-type: none;
    display:block;
    height: 67px;
    border-bottom: solid 1px #BDBDBD;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
  
  nav ul li a {
    /* display: inline-block; */
    text-decoration: none;
    font-family: PoppinRegular ;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    font-weight: 400;
  }
  
  nav ul li a:hover {
    color: #00783E;
  }
  nav ul li span .heart
  {
      padding-right:17.79px;
      border-right: 1px solid #1C1C1C;
  }
  nav ul li span .bag
  {
      padding-left:19px;
      padding-right:19px;
      border-right: 1px solid #1C1C1C;
  }
  nav ul li span .human
  {
      padding-left:19px;
  }
  nav ul li .close
  {
      margin-right: -12px;
  }
  nav .bottombar
  {
      display:flex;
      justify-content: space-between;
      align-items: center;
  }
  nav .bottombar span
  {
    font-family: PoppinRegular;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    font-weight: 400;
  }
  
  /* nav ul li:last-of-type::before {
    content: "";
    display: block;
    padding: .5rem;
    } */
  
  /* nav .btn {
    background: #fff;
    border-bottom: none;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #eeb80c;
    color: #223054;
    width: 40%;
    padding: 0.25rem .6rem;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(19,177,231);
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  nav .btn:hover {
    background-color: #223054;
    box-shadow: inset 0 0 5px #13b1e7;
    color: #fff;
  } */
/* ////////////////////////////////////////// */
/* Banner Section */
.topbanner
{
   height: 389px;
   background: url("images/mobile/mobile-screw.png") no-repeat center right;
   background-size: cover;
   padding: 90px 20px 29px 20px;
   display:flex;
    flex-direction: column;
    justify-content: center;
}

.topbanner h1
{
    font-family: Poppins-ExtraLight;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 800;
    height: 80px;
}
.topbanner p
{
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 100;
    height:47px;
    margin-top: 13px;
}
.topbanner .hexagons
{
    margin-top:20px;
    height:47.68px;
}

.topbanner .dot.red
{
    background-color: #F7444F;
}

/* About us section */

.about-us
{
    background-color: #ffffff;
    height: 507px;
    padding:37px 20px 39px 20px;
}
.about-us h3
{
font-family: PoppinRegular;
font-size: 20px;
color: #4B4B4B;
letter-spacing: 0;
text-align: center;
line-height: 28px;
font-weight: 400;
margin-top: 22px;
}
.about-us p
{
font-family: PoppinLight;
font-size: 14px;
color: #4B4B4B;
letter-spacing: 0;
text-align: center;
line-height: 22px;
font-weight: 400;
margin-top: 13px;
height:248px;
}

.our-product
{
    padding-top:33px;
    padding-bottom:40px;
    background-color:#FAFAFA;
}
.our-product .item-list
{
    display: grid;
    grid-template-columns: repeat(2, 157.16px);
    grid-template-rows: repeat(2,157.16px );
    gap:18px ;
    margin-top: 52.6px;
}
.our-product .item-list img
{
    display:inline-block;
    width: 157px;
    height: 157px;
}
.our-product .cel1
{
    grid-column: 1 / 2;
    grid-row:1/2;
}
.our-product .cel2
{
    grid-column: 2/3;
    grid-row:1/2;
}
.our-product .cel3
{
    grid-column: 1 / 2;
    grid-row:2/3;
}
.our-product .cel4
{
    grid-column: 2/3;
    grid-row: 2/3;
}

.our-product .dotsgroup
{
    display:flex;
    justify-content: space-between;
    width:48px;
    height:10px;
    margin: 31.6px auto 0;
}
.our-product .dot
{
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    height:10px;
    width:10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
}
.our-product .dot.red
{
    background-color: #F7444F;
}

/* Our Partner Section */
.section-our-partner.wrapper
{   
    background-color: #FFFFFF;
    height:549px;
    padding-top: 61.6px;
    padding-bottom: 46px;
}
.section-our-partner img
{
    display:block;
    height : 77.47px;
    max-width: 264.7px;
    margin: 0 auto 32.17px;
    
}
.section-our-partner .section-title::after
{
    width:121px; 
}
.section-our-partner h2
{
    font-family: PoppinRegular;
    font-size: 20px;
    color: #4B4B4B;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
    height:28px;
    width:335px;
    margin-top:47px;
}
.section-our-partner p
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    font-weight: 400;
    width:335px;
    height:158px;
    margin-top: 20px;
}
.section-our-partner .readmore-box
{
    margin-top:37px;
}


.testimonials.wrapper
{   
    /* background-color: #FFFFFF; */
    height:524px;
    /* padding-top: 46px;
    padding-bottom: 44px; */
    
    background: url("images/mobile/mobile-screw.png") no-repeat center right;
    background-size: cover;
    padding: 46px 41px 44px;
    /* opacity: 0.19; */
    /* background-color: rgba(0,0,0,0.19); */
}
.testimonials .customer
{
    display:flex;
    width:215px;
    justify-content:space-between;
    margin-top:53px;
}
.testimonials .customer img
{
    height:40px;
    width:40px;
}
.testimonials .customer .details
{
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.testimonials .customer .details .name
{
    font-family: PoppinMedium;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    font-weight: 400;
}
.testimonials .customer .details .company
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    font-weight: 400;
    margin-top:5px;
}
.testimonials .comments
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
    margin-top:25px;
    height: 158px;
}
.testimonials .dotsgroup
{
    margin-top: 83px;
}
.testimonials .dot.red
{
    background-color: #F7444F;
}

.quotation-green.wrapper
{
    background-color: #00783E;
    height:574px;
    padding-top: 24px;
    padding-bottom: 44px;
}
.quotation-green h1
{
font-family: PoppinExtraLight;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 60px;
font-weight: 400;
}
.quotation-green .info
{
    height:40px;
    text-align: start;
    font-family: PoppinRegular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 400;
    margin-top:29px;

}
.quotation-green .nameinput
{
    display:flex;
    max-width:334px;
}
.quotation-green .nameinput input
{
    max-width:167px;
}
.quotation-green .nameinput #fname
{
    border-right: 0;
}
.quotation-green .nameinput #lname
{
    
    
}

/* Quotation Black Section */
.quotation-black.wrapper
{
    background-color: #000000;
    height:638px;
    padding-top: 26px;
    padding-bottom: 29px;
}
.quotation-black .orderbrief
{
    font-family: PoppinRegular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 400;
    padding-left: 17px;
}
.quotation-black select
{
    border: 1px solid #FFFFFF;
    width:334px;
    height:47px;
    background-color: #000000;
    margin-top:31px;
    padding-left:16px;
    color: #FFFFFF;
}
.quotation-black select option
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
}
.quotation-black textarea
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    border: 1px solid #FFFFFF;
    width:334px;
    height:122px;
    background-color: #000000;
    margin-top:31px;
    padding-left:16px;
    text-align: left;
    padding:13px 16px;
}
.quotation-black .terms
{
    font-family: PoppinLight;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    margin-top: 18px;
}
.quotation-black button
{
    font-family: PoppinLight;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    margin-top: 39px;
    text-align: center;
    display: block;
    height: 47px;
    width: 127px;
    margin-left: auto;
    margin-right: 0;
}

.find-us.wrapper
{
    background-color: #FFFFFF;
    height:564px;
    padding-top: 32px;
    padding-bottom: 71px;
    padding-left:38px;
    padding-right:25px;
    position:relative;
}
.find-us .infocard
{
    height:57px;
    width:260px;
    margin-top: 46px;
}
.find-us .infocard h3
{
    font-family: PoppinMedium;
    font-size: 20px;
    color: #4B4B4B;
    letter-spacing: 0;
    line-height: 23px;
    font-weight: 400;
}
.find-us .infocard p
{
    font-family: PoppinLight;
    font-size: 14px;
    color: #4B4B4B;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 400;
}
.find-us .rightbar
{
  border: 6px solid #F7444F;
  background-color: #F7444F;
  border-radius: 25px;
  height: 177px;
  position: absolute;
  right: 25px;
  top: 214px;
}
.find-us .leftbar
{
  border: 0.5px solid #F7444F;
  background-color: #F7444F;
  /* border-radius: 25px; */
  height: 63px;
  position: absolute;
  left: 27px;
  top: 132px;
}


.map.wrapper
{
    /* background-color: #000000; */
    height:408px;
    padding:0;
    background: url(images/find_us/map.png) no-repeat center right;
    background-size: cover;

}

.footer.wrapper
{
    height:173px;
    padding:0;
}